name: build

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro: [ "alpine", "bullseye", "bookworm", "trixie" ]
        nushell: [ "0.105.1", "0.106.1", "0.107.0", "0.108.0" ]
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v6
      -
        name: Read version
        uses: bfren/read-file@v2
        with:
          file: ./VERSION
        id: version
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Quay.io Container Registry
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.QUAY_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          build-args: |
            DISTRO=${{ matrix.distro }}
            NUSHELL_VERSION=${{ matrix.nushell }}
            VERSION=${{ steps.version.outputs.contents }}
          push: true
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          tags: |
            quay.io/bfren/nushell:${{ matrix.distro }}
            quay.io/bfren/nushell:${{ matrix.distro }}-${{ steps.version.outputs.contents }}
            quay.io/bfren/nushell:${{ matrix.nushell }}-${{ matrix.distro }}
            quay.io/bfren/nushell:${{ matrix.nushell }}-${{ matrix.distro }}-${{ steps.version.outputs.contents }}
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
